---
import '../styles/latest-post.css';
import { getCollection } from 'astro:content';
let latestPost;
let previewImage = '';
let formattedDate = '';

// Astro components can use top-level await for data fetching
const posts = await getCollection('posts', ({ data }) =>
  import.meta.env.PROD ? data.draft !== true : true,
);
if (posts.length > 0) {
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  latestPost = posts[0].data;
  latestPost.slug = posts[0].slug || posts[0].id;
  previewImage = `/generated_preview_images/${latestPost.slug}.png`;
  formattedDate = new Date(latestPost.pubDate).toLocaleDateString('en-UK', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
}
---

{
  latestPost && (
    <section class="homepage__latest latest-post-card">
      <div class="latest-post-card__image-col">
        <a href={`/posts/${latestPost.slug}/`}>
          <img
            class="latest-post-card__image"
            src={previewImage}
            alt={latestPost.title}
            loading="lazy"
            onerror="this.onerror=null;this.src='/preview-background.png';"
          />
        </a>
      </div>
      <div class="latest-post-card__content-col">
        <h2 class="latest-post-card__title">
          <a href={`/posts/${latestPost.slug}/`}>{latestPost.title}</a>
        </h2>
        <div class="latest-post-card__meta">
          <span class="latest-post-card__date">{formattedDate}</span>
        </div>
        <p class="latest-post-card__excerpt">{latestPost.description}</p>
        <a class="latest-post-card__button" href={`/posts/${latestPost.slug}/`}>
          Read latest post
        </a>
      </div>
    </section>
  )
}
